asgiref==3.4.1
cvui==2.7
django-crispy-forms==1.13.0
django-picklefield==3.0.1
django-webcam==0.4.2
mysqlclient==2.1.0rc1
numpy==1.21.4
opencv-python==4.5.4.60
Pillow==8.4.0
uuid==1.30
backports.entry-points-selectable==1.1.0
distlib==0.3.3
dj-database-url==0.5.0
Django==4.0
django-heroku==0.3.1
filelock==3.3.1
gunicorn==20.1.0
platformdirs==2.4.0
psycopg2==2.9.3
pytz==2021.3
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
virtualenv==20.9.0
whitenoise==5.3.0
