.menu_d{
  overflow: hidden;
  background-color: black;
  padding: 10px 5px

}

.container{
  	color: black;
 	text-align: center;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 18px;
  	line-height: 25px;
  	border-radius: 4px;

}

.headeritem{
	float: left;
}

.logo{
	height: 50px;
}

.rightitem{
	padding: auto;
}

.button{
	float: right;
	display: inline-block;
	color: teal;
 	text-align: center;
  	text-decoration: none;
    padding: 12px;
}

.button: hover{
	color: black;
}