{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
<div>
{% include '_partials/messages.html' %}
	<h3>People Registered</h3>
		<br>
		<br>
		<br>
		{% if todos %}
		{% for t in todos %}
		{{t.name }}
		<a href="{% url 'todo_details' t.pk%}" >See Details</a>
		<a href="{% url 'todo_edit' t.pk%}">Edit Details</a>
		<br><br>

		{% endfor %}
	{% else %}
	<div>
		No person registered yet, to register a person please click <a href="{%url 'create_todo'%}">here</a>
	</div>
<div>
	{% endif %}
{% endblock content %}